<html>

<head>
    <title>
        <%= locals.title %>
    </title>
</head>

<body>
    <h1>play with EJS multiple files</h1>

    <ul>
        <% for (let i=1; i < 6; i++) { %>
            <li>
                <%= i %>
            </li>
        <%}%>
    </ul>
</body>

</html>